.navbar{
    height: 100%;
    width: 4%;
    padding:1% 0.5%;
    color:white;
    background-color: #191b54;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 0px 5px 5px #4d5567;
    flex-direction: column;
}

.navbar a{
    color:white;
    text-decoration: none;
}

.navbar-image{
    height:auto;
    width:100%;
}

.bar-items{
    padding: 5rem 0rem;
    font-size: 1em;
    font-weight: bold;
}

body{
    background-color: #E4D7BC;
}

.content{
    /*margin: 4rem 8rem;*/
}

.critter-group{
height:100%;
white-space:nowrap;
}

.table-bar{
    background-color: #5c5cd6;
    height:8%;
    display:flex;
    padding: 5px;
}

.critter-group a{
    height:100%;
    position:relative;
    display:inline-block;
    padding: 0 5px;
}

.filter-div{
    width:100%;
    padding: 0 5px;
    display: flex;
    justify-content:end;
}

.filter-div a{

    height:100%;
    position:relative;
    display:inline-flex;
    justify-content:end;
    width:100%;
}

.filter-pane{
    background-color: #5c5cd6;
    height: 60%;
    width: 40%;
    color: white;
    overflow: auto;
    visibility:hidden;
    position:absolute;
    margin: 3% 1% 0 0;
}

.table-bar img{
    object-fit:contain;
    width:auto;
    height:100%;
    cursor: pointer;
}

.critter-table{
    height: 82%;
    padding: 4% 8% 0;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    background-color: #f8efdc;
    height: 100%;
    overflow: auto;
}

.grid-item h4, hr{
    padding: 0;
    margin: 0;
}

.info-cell{
    height: 100%;
    width: 100%;
}

.grid-item{
    padding: 2%;
    height: 90%;
}

.grid-table{
    height: 100%;
    background-color: #beebf8;
}

#root, .root, .content{
    height: 98%;
    display:flex;
}

html, body{
    height: 100%;
}