.navbar{
    height: 100%;
    width: 4%;
    padding:1% 0.5%;
    color:white;
    background-color: #3660EE;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 0px 5px 5px #5a73b9;
    flex-direction: column;
}

.navbar a{
    color:white;
    text-decoration: none;
}

.navbar-image{
    height:auto;
    width:100%;
}

.bar-items{
    padding: 5rem 0rem;
    font-size: 1em;
    font-weight: bold;
}

body{
    background-color: #fcf0c8;
}

#root, .root, .content{
    height: 100%;
    display:flex;
    width:100%;
    overflow:hidden;
}

html, body{
    height: 100%;
}